### Task 2

In [173]:
openai_key = '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'

In [196]:
import pandas as pd
import os
import datetime
import string
from nltk import FreqDist
from tqdm import tqdm
import spacy
import numpy as np
import openai
import json
import sys

current_path = os.getcwd()
current_path = current_path.split('Beer_Recommendation_Engine')
path = current_path[0] + 'Beer_Recommendation_Engine'
path

'/Users/drknt_rises/Desktop/Personal/Git Repos/Beer_Recommendation_Engine'

In [175]:
beer_reviews = pd.read_csv(path + '/Data/beer_reviews.csv')
beer_reviews = beer_reviews.drop_duplicates()

def process_date(data):
    from datetime import date

    o_date = str(data)
    o_date = o_date.split(' ')
    if o_date[1] == 'at':
        return date.today()
    else:
        return data


beer_reviews = beer_reviews.loc[~beer_reviews['comment'].isnull()]
beer_reviews['date'] = beer_reviews['date'].apply(lambda row: process_date(row))
beer_reviews['date'] = pd.to_datetime(beer_reviews['date'])
beer_reviews = beer_reviews.loc[beer_reviews['date'] >= datetime.datetime(year=2019, month=1, day=1)]
beer_reviews = beer_reviews.reset_index(drop=True)
beer_reviews = beer_reviews.drop_duplicates('comment')
beer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11893 entries, 0 to 11963
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pos           11893 non-null  int64
 1   beer_name     11893 non-null  object
 2   final_rating  11893 non-null  float64
 3   looks         11893 non-null  float64
 4   smell         11893 non-null  float64
 5   taste         11893 non-null  float64
 6   feel          11893 non-null  float64
 7   overall       11893 non-null  float64
 8   user          11893 non-null  object
 9   place         11893 non-null  object
 10  comment       11893 non-null  object
 11  date          11893 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 1.2+ MB

In [176]:
def generate_corpus(column, include_stopwords=True, stop_words=[]):
    corpus = " "
    if include_stopwords:
        for text in column:
            text = str(text)
            for i in list(string.punctuation):
                text = text.replace(i, ' ')
            
            text = text.lower()
            corpus += text
        
        corpus = corpus.split()
    else:
        for text in column:
            text = str(text)
            for i in list(string.punctuation):
                text = text.replace(i, ' ')
            
            text = text.lower()
            corpus += text
        
        corpus = corpus.split()

        corpus_filtered = []
        stop_words = set(stop_words)
        for word in corpus:
            if word not in stop_words:
                corpus_filtered.append(word)
        
        corpus = corpus_filtered
    
    return corpus

In [177]:
en = spacy.load("en_core_web_sm")
stop_words = en.Defaults.stop_words
corpus = generate_corpus(beer_reviews['comment'], include_stopwords=False, stop_words=stop_words)

word_freq = FreqDist()
for word in tqdm(corpus):
    word_freq[word] += 1

freq_dist = []
for rank, word in enumerate(word_freq):
    freq_dist.append([rank+1, word, word_freq[word]])

freq_dist = pd.DataFrame(freq_dist, columns=['Rank', 'Word', 'Count'])
freq_dist.to_csv(path + '/Support Files/Freq_Dist_new_comments.csv', index=False)
freq_dist

100%|██████████| 607954/607954 [00:00<00:00, 2167484.71it/s]

        Rank       Word  Count
0          1       beer   8692
1          2       head   6471
2          3          s   6144
3          4      taste   5652
4          5  chocolate   4784
...      ...        ...    ...
22509  22510        to”      1
22510  22511     extend      1
22511  22512   canister      1
22512  22513     8000th      1
22513  22514      14819      1

[22514 rows x 3 columns]

In [178]:
def process_column(column):
    data = list(column)
    for i in range(len(data)):
        text = str(data[i])
        for punct in list(string.punctuation):
             text = text.replace(punct, ' ')
        text = text.lower()
        data[i] = text
    return data

def replace_car_brands(data, map):
    for i in range(len(data)):
        text = data[i]
        l_text = text.split()
        for word in l_text:
            if word in map.keys():
                text = text.replace(word, map[word])
        data[i] = text.split()
    return data

In [179]:
comments = process_column(beer_reviews['comment'])

beer_attribute_map = pd.read_csv(path + '/Support FIles/Beeer_attributes.csv')

beer_attribute_dict = {}
for brand, model in zip(beer_attribute_map['Attribute'], beer_attribute_map['Variance']):
    beer_attribute_dict[model] = brand

comments = replace_car_brands(comments, beer_attribute_dict)
print(set(beer_attribute_dict.values()))

{'cocoa', 'malty', 'sweet', 'aggressive', 'vintage', 'estery', 'complex', 'herbal', 'vanilla', 'roast/toast', 'honey', 'fruity', 'chocolaty', 'papaya', 'diacetyl', 'tart', 'robust', 'crisp', 'tangerine', 'dark', 'apricot', 'spicy', 'melon', 'silky', 'cinnamon', 'cherry', 'hoppy', 'balanced', 'coffee', 'citrus'}

In [180]:
attributes = list(set(beer_attribute_dict.values()))

def tf(text, attribute, map):
    text = str(text)
    text = text.strip()
    
    for punct in list(string.punctuation):
        text = text.replace(punct, ' ')
    text = text.lower()
    
    l_text = text.split()
    for word in l_text:
        if word in map.keys():
            text = text.replace(word, map[word])
    
    text = text.split()
    
    count = 0
    for t_word in text:
        if t_word==attribute:
            count += 1
    
    return count

for attribute in (pbar := tqdm(attributes)):
    pbar.set_description(f"Calculating TFs for {attribute}")
    beer_reviews[attribute] = beer_reviews['comment'].apply(lambda row: tf(row, attribute, beer_attribute_dict))
beer_reviews

Calculating TFs for citrus: 100%|██████████| 30/30 [00:07<00:00,  4.25it/s]

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,apricot,spicy,melon,silky,cinnamon,cherry,hoppy,balanced,coffee,citrus
0,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,poidog,Hawaii,...,0,0,0,0,0,0,0,0,0,0
1,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,Filabee,Michigan,...,0,0,0,0,0,0,0,0,0,0
2,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,alexnblanton,Arkansas,...,0,0,0,0,0,0,0,0,0,0
3,1,Kentucky Brunch Brand Stout,4.67,4.00,4.50,5.00,4.50,4.50,beergoot,Colorado,...,0,0,0,0,0,0,0,0,0,0
4,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,dcotom,Iowa,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11959,250,Samuel Adams Utopias,4.76,4.25,5.00,4.75,4.50,4.75,Robomunky,Washington,...,0,0,0,0,0,0,0,0,0,0
11960,250,Samuel Adams Utopias,4.49,3.75,4.75,4.50,4.25,4.50,chinchill,South Carolina,...,0,0,0,0,0,0,0,0,0,0
11961,250,Samuel Adams Utopias,4.38,4.50,4.00,4.50,4.50,4.50,superspak,North Carolina,...,4,1,0,0,4,4,0,0,0,0
11962,250,Samuel Adams Utopias,4.63,4.00,4.75,4.75,4.50,4.50,skiking70,Maryland,...,0,0,0,0,0,0,0,0,0,0
11963,250,Samuel Adams Utopias,4.70,5.00,5.00,4.50,4.50,4.75,Buckeye55,North Carolina,...,0,0,0,0,0,0,0,0,0,0

In [181]:
def idf(column, attribute, map):
    texts = list(column)
    n = len(texts)
    count = 0
    for i in range(n):
        text = texts[i]
        text = str(text)
        text = text.strip()
        
        for punct in list(string.punctuation):
            text = text.replace(punct, ' ')
        text = text.lower()
        
        l_text = text.split()
        for word in l_text:
            if word in map.keys():
                text = text.replace(word, map[word])
        
        text = text.split()

        if attribute in text:
            count += 1
        
    idf = np.log10(n / count)
    return idf

dict_idf = {}
for attribute in (pbar := tqdm(attributes)):
    dict_idf[attribute] = idf(beer_reviews['comment'], attribute, beer_attribute_dict)

dict_idf

100%|██████████| 30/30 [00:06<00:00,  4.50it/s]

{'cocoa': 1.4259565601711606,
 'malty': 0.9297842474736399,
 'sweet': 0.6115476976362433,
 'aggressive': 1.837245315754507,
 'vintage': 1.3380987761785652,
 'estery': 2.140792967639735,
 'complex': 1.0284062280455923,
 'herbal': 1.5129985544268276,
 'vanilla': 0.8114187420180788,
 'roast/toast': 1.2031351461350095,
 'honey': 1.61740952214931,
 'fruity': 0.949160011621318,
 'chocolaty': 0.6457006166600009,
 'papaya': 1.5374723238100283,
 'diacetyl': 2.6950801771716963,
 'tart': 1.398597809258436,
 'robust': 1.8992001598276211,
 'crisp': 1.4191932168704706,
 'tangerine': 1.3217083599903958,
 'dark': 0.665358295552008,
 'apricot': 1.558095520933328,
 'spicy': 1.5687863864784304,
 'melon': 1.436802161928665,
 'silky': 1.539997298840532,
 'cinnamon': 1.3949559054687393,
 'cherry': 1.5412653128271674,
 'hoppy': 1.300045159143066,
 'balanced': 0.7641735762207967,
 'coffee': 0.768223468222004,
 'citrus': 0.7233019634476703}

In [182]:
for attribute in attributes:
    beer_reviews[attribute + '_tf-idf'] = (beer_reviews[attribute] * dict_idf[attribute])
beer_reviews

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,apricot_tf-idf,spicy_tf-idf,melon_tf-idf,silky_tf-idf,cinnamon_tf-idf,cherry_tf-idf,hoppy_tf-idf,balanced_tf-idf,coffee_tf-idf,citrus_tf-idf
0,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,poidog,Hawaii,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
1,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,Filabee,Michigan,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
2,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,alexnblanton,Arkansas,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,1,Kentucky Brunch Brand Stout,4.67,4.00,4.50,5.00,4.50,4.50,beergoot,Colorado,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,dcotom,Iowa,...,0.000000,0.000000,0.0,0.0,0.000000,1.541265,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11959,250,Samuel Adams Utopias,4.76,4.25,5.00,4.75,4.50,4.75,Robomunky,Washington,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
11960,250,Samuel Adams Utopias,4.49,3.75,4.75,4.50,4.25,4.50,chinchill,South Carolina,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
11961,250,Samuel Adams Utopias,4.38,4.50,4.00,4.50,4.50,4.50,superspak,North Carolina,...,6.232382,1.568786,0.0,0.0,5.579824,6.165061,0.0,0.0,0.0,0.0
11962,250,Samuel Adams Utopias,4.63,4.00,4.75,4.75,4.50,4.50,skiking70,Maryland,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
11963,250,Samuel Adams Utopias,4.70,5.00,5.00,4.50,4.50,4.75,Buckeye55,North Carolina,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [183]:
attributes = ['malty', 'silky', 'balanced']

def similarity(data, vect_2):
    vect_1 = []
    for value in data:
        vect_1.append(value)
    
    sum1 = 0
    sum2 = 0
    sum3 = 0
    for i, j in zip(vect_1, vect_2):
        sum1 = sum1 + (i * j)
        sum2 = sum2 + (i * i)
        sum3 = sum3 + (j * j)
    
    if sum1==0 or sum2==0 or sum==0:
        similarity_score = 0
    else:
        similarity_score = sum1 / (np.sqrt(sum2) * np.sqrt(sum3))
    # print(vect_1, vect_2, similarity_score)
    return similarity_score
    
vect = []
for i, attribute in enumerate(attributes):
    vect.append(dict_idf[attribute])
    attributes[i] = attribute + '_tf-idf'

beer_reviews['similarity'] = beer_reviews[attributes].apply(tuple, axis=1)
beer_reviews['similarity'] = beer_reviews['similarity'].apply(lambda row: similarity(row, vect))
beer_reviews[['beer_name', 'comment', 'similarity']]

,beer_name,comment,similarity
0,Kentucky Brunch Brand Stout,"Amazing stout, expensive but worth the price!",0.000000
1,Kentucky Brunch Brand Stout,This beer meet and exceeded all the unreal hyp...,0.000000
2,Kentucky Brunch Brand Stout,Let it sit and warm to the room a little ... u...,0.000000
3,Kentucky Brunch Brand Stout,"A small pour, ebony dark, no real head. Intens...",0.000000
4,Kentucky Brunch Brand Stout,"Vintage 2022, served on tap at Toppling Goliat...",0.475716
...,...,...,...
11959,Samuel Adams Utopias,It seems weird to rate this like it's a normal...,0.000000
11960,Samuel Adams Utopias,"Shared 2017 canister. Fabulous, very complex a...",0.000000
11961,Samuel Adams Utopias,8000th review! 8 ounce pour from a 24 ounce bo...,0.475716
11962,Samuel Adams Utopias,Such a huge beer and a joy to drink. This is d...,0.000000
11963,Samuel Adams Utopias,The odd beer that smells better than it tastes...,0.000000

In [184]:
re_calculate = False
if re_calculate == True:
    print('Ture')
    def sentiment_openai(data):
        for i ,iter in enumerate(data):
            row = []
            final_rating, text = iter
            openai.api_key = openai_key
            openai.Model.list()

            response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            messages=[
                    {"role": "system", "content": f'''Provide a sentiment score for "{text}" in a range of +5 to -5. This comment was overall rated as {final_rating} by the user on a scale of 0-5. Watchout out for the light human sarcasm in the quoted text. Only provide the number.'''},
                ]
            )

            score = response['choices'][0]['message']['content']
            row.append([text, score])
            row = pd.DataFrame(row, columns=['comment', 'sentiment'])
            
            if i==0:
                row.to_csv(path + '/Support Files/sentiments.csv', mode='a', index=False, header=True)
            else:
                row.to_csv(path + '/Support Files/sentiments.csv', mode='a', index=False, header=False)
        
    beer_reviews['sentiment'] = beer_reviews[['final_rating', 'comment']].apply(tuple, axis=1)
    sentiment_openai(beer_reviews['sentiment'])
    beer_reviews = beer_reviews.drop(['sentiment'], axis=1)

    sentiment = pd.read_csv(path + '/Support Files/sentiments.csv')
    sentiment = sentiment.drop_duplicates('comment', keep='last')
    beer_reviews = beer_reviews.merge(sentiment, left_on='comment', right_on='comment', how='left')
    display(beer_reviews)
else:
    sentiment = pd.read_csv(path + '/Support Files/sentiments.csv')
    sentiment = sentiment.drop_duplicates('comment', keep='last')
    beer_reviews = beer_reviews.merge(sentiment, left_on='comment', right_on='comment', how='left')
    display(beer_reviews)

In [185]:
# beer_reviews['final_score'] = beer_reviews['similarity'] * beer_reviews['sentiment']
# beer_reviews

In [186]:
# recommendations = list(beer_reviews.loc[beer_reviews['final_score'] > 0]['beer_name'].value_counts()[:3].index)
# print('Three recommended beers:')
# print(recommendations)

In [187]:
attributes = ['malty', 'silky', 'balanced']

re_calculate = False
if re_calculate:
    def spacySimilarity(comments, attributes, map):
        nlp = spacy.load("en_core_web_md")

        comments = list(comments)
        attributes = list(attributes)
        similarity_scores = []
        for comment in tqdm(comments):
            row = []
            row.append(comment)
            for attribute in attributes:
                text1 = attribute
                text2 = comment

                text2 = text2.strip()
                for punct in list(string.punctuation):
                    text2 = text2.replace(punct, ' ')
                text2 = text2.lower()

                l_text = text2.split()
                for word in l_text:
                    if word in map.keys():
                        text2 = text2.replace(word, map[word])

                text2 = ''.join(text2)

                doc1 = nlp(text1)
                doc2 = nlp(text2)
                similarity = doc1.similarity(doc2)
                row.append(similarity)
            similarity_scores.append(row)
        
        new_attributtes = ['comment']
        for i in range(len(attributes)):
            new_attributtes.append(attributes[i] + "_SSimilarity")
        
        similarity = pd.DataFrame(similarity_scores, columns=new_attributtes)
        similarity.to_csv(path + '/Support Files/similarity_spacy.csv', index=False)

    spacySimilarity(beer_reviews['comment'], set(beer_attribute_dict.values()), beer_attribute_dict)
    
    new_attributtes = ['comment']
    for i in range(len(attributes)):
        new_attributtes.append(attributes[i] + "_SSimilarity")
    
    similarity = pd.read_csv(path + '/Support Files/similarity_spacy.csv').drop_duplicates()
    similarity = similarity[new_attributtes]
    beer_reviews = beer_reviews.merge(similarity, left_on='comment', right_on='comment', how='left')
    display(beer_reviews)
else:
    new_attributtes = ['comment']
    for i in range(len(attributes)):
        new_attributtes.append(attributes[i] + "_SSimilarity")
    
    similarity = pd.read_csv(path + '/Support Files/similarity_spacy.csv').drop_duplicates()
    similarity = similarity[new_attributtes]
    beer_reviews = beer_reviews.merge(similarity, left_on='comment', right_on='comment', how='left')
    display(beer_reviews)

  0%|          | 0/11893 [00:00<?, ?it/s]/var/folders/x1/tll4qnwj19xgjh94jzbw1nr80000gn/T/ipykernel_92134/1052781933.py:32: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  similarity = doc1.similarity(doc2)
100%|██████████| 11893/11893 [4:20:01<00:00,  1.31s/it]

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,cinnamon_tf-idf,cherry_tf-idf,hoppy_tf-idf,balanced_tf-idf,coffee_tf-idf,citrus_tf-idf,similarity,malty_SSimilarity,silky_SSimilarity,balanced_SSimilarity
0,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,poidog,Hawaii,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.431294,0.272089,0.561451
1,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,Filabee,Michigan,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.447167,0.305450,0.556558
2,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,alexnblanton,Arkansas,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.387106,0.314359,0.513935
3,1,Kentucky Brunch Brand Stout,4.67,4.00,4.50,5.00,4.50,4.50,beergoot,Colorado,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.519748,0.388669,0.594645
4,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,dcotom,Iowa,...,0.000000,1.541265,0.0,0.0,0.0,0.0,0.475716,0.482156,0.373191,0.634700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11888,250,Samuel Adams Utopias,4.76,4.25,5.00,4.75,4.50,4.75,Robomunky,Washington,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.472258,0.336017,0.508804
11889,250,Samuel Adams Utopias,4.49,3.75,4.75,4.50,4.25,4.50,chinchill,South Carolina,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.563357,0.385848,0.603090
11890,250,Samuel Adams Utopias,4.38,4.50,4.00,4.50,4.50,4.50,superspak,North Carolina,...,5.579824,6.165061,0.0,0.0,0.0,0.0,0.475716,0.677412,0.577632,0.640396
11891,250,Samuel Adams Utopias,4.63,4.00,4.75,4.75,4.50,4.50,skiking70,Maryland,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.440867,0.282564,0.516733
11892,250,Samuel Adams Utopias,4.70,5.00,5.00,4.50,4.50,4.75,Buckeye55,North Carolina,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.508452,0.392111,0.575440

### Work on automatically multiplying the data for similarity

In [188]:
# beer_reviews['Ssimilarity'] = beer_reviews['malty_SSimilarity'] * beer_reviews['silky_SSimilarity'] * beer_reviews['balanced_SSimilarity']
# beer_reviews['Sffinal_score'] = beer_reviews['Ssimilarity'] * beer_reviews['sentiment']
# beer_reviews

In [189]:
# recommendations = list(beer_reviews.loc[beer_reviews['Sffinal_score'] > 0]['beer_name'].value_counts()[:3].index)
# print('Three recommended beers:')
# print(recommendations)

In [190]:
# a = beer_reviews.drop(['sentiment'], axis=1)
a = beer_reviews[:10]
a

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,cinnamon_tf-idf,cherry_tf-idf,hoppy_tf-idf,balanced_tf-idf,coffee_tf-idf,citrus_tf-idf,similarity,malty_SSimilarity,silky_SSimilarity,balanced_SSimilarity
0,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,poidog,Hawaii,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.431294,0.272089,0.561451
1,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,Filabee,Michigan,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.447167,0.305450,0.556558
2,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,alexnblanton,Arkansas,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.387106,0.314359,0.513935
3,1,Kentucky Brunch Brand Stout,4.67,4.00,4.50,5.00,4.50,4.50,beergoot,Colorado,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.519748,0.388669,0.594645
4,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,dcotom,Iowa,...,0.0,1.541265,0.0,0.0,0.000000,0.0,0.475716,0.482156,0.373191,0.634700
5,1,Kentucky Brunch Brand Stout,5.00,5.00,5.00,5.00,5.00,5.00,smokinjimmyv,Illinois,...,0.0,0.000000,0.0,0.0,0.768223,0.0,0.000000,0.471598,0.362689,0.573781
6,1,Kentucky Brunch Brand Stout,3.79,4.00,3.75,3.75,4.00,3.75,Emichaelbray,Pennsylvania,...,0.0,0.000000,0.0,0.0,0.768223,0.0,0.000000,0.448348,0.312640,0.591723
7,1,Kentucky Brunch Brand Stout,4.65,4.50,4.50,4.75,4.50,4.75,Rug,Massachusetts,...,0.0,0.000000,0.0,0.0,2.304670,0.0,0.000000,0.509371,0.398319,0.586693
8,1,Kentucky Brunch Brand Stout,4.27,5.00,4.25,4.50,3.00,4.25,Pru,Massachusetts,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.497806,0.386889,0.590801
9,1,Kentucky Brunch Brand Stout,4.79,4.75,4.50,5.00,4.75,4.75,jhavs,New York,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.593775,0.511088,0.644245

In [191]:
a = [[1,2,3],
     [4,5,6]]
cols = ['A', 'B', 'C']
a = pd.DataFrame(a, columns=cols)
a

   A  B  C
0  1  2  3
1  4  5  6

In [195]:
0.026 - 0.001

0.024999999999999998

In [198]:
def sentiment_openai(data):
        for i ,iter in enumerate(data):
            row = []
            final_rating, text = iter
            openai.api_key = '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'
            openai.Model.list()

            response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            messages=[
                    {"role": "system", "content": f'''Provide a sentiment score for "{text}" in a range of +5 to -5. This comment was overall rated as {final_rating} by the user on a scale of 0-5. Watchout out for the light human sarcasm in the quoted text. Only provide the number.'''},
                ]
            )

            score = response['choices'][0]['message']['content']
            print(final_rating, text, score)
            row.append([text, score])
            row = pd.DataFrame(row, columns=['comment', 'sentiment'])
            
            # if i==0:
            #     row.to_csv(path + '/Support Files/sentiments.csv', mode='a', index=False, header=True)
            # else:
            #     row.to_csv(path + '/Support Files/sentiments.csv', mode='a', index=False, header=False)

In [199]:
data = [(5, "What a nice day for me at the trip. Definetly recommend this place."),
        (2, "What a hectic day for me at the trip. Not recommended from me.")]
sentiment_openai(data)

5 What a nice day for me at the trip. Definetly recommend this place. +5
2 What a hectic day for me at the trip. Not recommended from me. -3

In [201]:
import argparse
import io
from google.cloud import videointelligence
path = '/Volumes/Storage/IMG_6034.MOV'

"""Detect labels given a file path."""
video_client = videointelligence.VideoIntelligenceServiceClient()
features = [videointelligence.Feature.LABEL_DETECTION]

with io.open(path, "rb") as movie:
    input_content = movie.read()

operation = video_client.annotate_video(
    request={"features": features, "input_content": input_content}
)
print("\nProcessing video for label annotations:")

result = operation.result(timeout=90)
print("\nFinished processing.")

# Process video/segment level label annotations
segment_labels = result.annotation_results[0].segment_label_annotations
for i, segment_label in enumerate(segment_labels):
    print("Video label description: {}".format(segment_label.entity.description))
    for category_entity in segment_label.category_entities:
        print(
            "\tLabel category description: {}".format(category_entity.description)
        )

    for i, segment in enumerate(segment_label.segments):
        start_time = (
            segment.segment.start_time_offset.seconds
            + segment.segment.start_time_offset.microseconds / 1e6
        )
        end_time = (
            segment.segment.end_time_offset.seconds
            + segment.segment.end_time_offset.microseconds / 1e6
        )
        positions = "{}s to {}s".format(start_time, end_time)
        confidence = segment.confidence
        print("\tSegment {}: {}".format(i, positions))
        print("\tConfidence: {}".format(confidence))
    print("\n")

# Process shot level label annotations
shot_labels = result.annotation_results[0].shot_label_annotations
for i, shot_label in enumerate(shot_labels):
    print("Shot label description: {}".format(shot_label.entity.description))
    for category_entity in shot_label.category_entities:
        print(
            "\tLabel category description: {}".format(category_entity.description)
        )

    for i, shot in enumerate(shot_label.segments):
        start_time = (
            shot.segment.start_time_offset.seconds
            + shot.segment.start_time_offset.microseconds / 1e6
        )
        end_time = (
            shot.segment.end_time_offset.seconds
            + shot.segment.end_time_offset.microseconds / 1e6
        )
        positions = "{}s to {}s".format(start_time, end_time)
        confidence = shot.confidence
        print("\tSegment {}: {}".format(i, positions))
        print("\tConfidence: {}".format(confidence))
    print("\n")

# Process frame level label annotations
frame_labels = result.annotation_results[0].frame_label_annotations
for i, frame_label in enumerate(frame_labels):
    print("Frame label description: {}".format(frame_label.entity.description))
    for category_entity in frame_label.category_entities:
        print(
            "\tLabel category description: {}".format(category_entity.description)
        )

    # Each frame_label_annotation has many frames,
    # here we print information only about the first frame.
    frame = frame_label.frames[0]
    time_offset = frame.time_offset.seconds + frame.time_offset.microseconds / 1e6
    print("\tFirst frame time offset: {}s".format(time_offset))
    print("\tFirst frame confidence: {}".format(frame.confidence))
    print("\n")

DefaultCredentialsError: Your default credentials were not found. To set up Application Default Credentials, see https://cloud.google.com/docs/authentication/external/set-up-adc for more information.