### Task 2

In [46]:
openai_key = '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'

In [47]:
import pandas as pd
import os
import datetime
import string
from nltk import FreqDist
from tqdm import tqdm
import spacy
import numpy as np
import openai
import json
import sys

current_path = os.getcwd()
current_path = current_path.split('Beer_Recommendation_Engine')
path = current_path[0] + 'Beer_Recommendation_Engine'
path

'/Users/drknt_rises/Desktop/Personal/Git Repos/Beer_Recommendation_Engine'

In [48]:
beer_reviews = pd.read_csv(path + '/Data/beer_reviews.csv')
beer_reviews = beer_reviews.drop_duplicates()

def process_date(data):
    from datetime import date

    o_date = str(data)
    o_date = o_date.split(' ')
    if o_date[1] == 'at':
        return date.today()
    else:
        return data


beer_reviews = beer_reviews.loc[~beer_reviews['comment'].isnull()]
beer_reviews['date'] = beer_reviews['date'].apply(lambda row: process_date(row))
beer_reviews['date'] = pd.to_datetime(beer_reviews['date'])
beer_reviews = beer_reviews.loc[beer_reviews['date'] >= datetime.datetime(year=2012, month=1, day=1)]
beer_reviews = beer_reviews.reset_index(drop=True)
beer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63470 entries, 0 to 63469
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pos           63470 non-null  int64
 1   beer_name     63470 non-null  object
 2   final_rating  63470 non-null  float64
 3   looks         61937 non-null  float64
 4   smell         61937 non-null  float64
 5   taste         61937 non-null  float64
 6   feel          61937 non-null  float64
 7   overall       61937 non-null  float64
 8   user          63470 non-null  object
 9   place         63470 non-null  object
 10  comment       63470 non-null  object
 11  date          63470 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 5.8+ MB

In [49]:
def generate_corpus(column, include_stopwords=True, stop_words=[]):
    corpus = " "
    if include_stopwords:
        for text in column:
            text = str(text)
            for i in list(string.punctuation):
                text = text.replace(i, ' ')
            
            text = text.lower()
            corpus += text
        
        corpus = corpus.split()
    else:
        for text in column:
            text = str(text)
            for i in list(string.punctuation):
                text = text.replace(i, ' ')
            
            text = text.lower()
            corpus += text
        
        corpus = corpus.split()

        corpus_filtered = []
        stop_words = set(stop_words)
        for word in corpus:
            if word not in stop_words:
                corpus_filtered.append(word)
        
        corpus = corpus_filtered
    
    return corpus

In [50]:
en = spacy.load("en_core_web_sm")
stop_words = en.Defaults.stop_words
corpus = generate_corpus(beer_reviews['comment'], include_stopwords=False, stop_words=stop_words)

word_freq = FreqDist()
for word in tqdm(corpus):
    word_freq[word] += 1

freq_dist = []
for rank, word in enumerate(word_freq):
    freq_dist.append([rank+1, word, word_freq[word]])

freq_dist = pd.DataFrame(freq_dist, columns=['Rank', 'Word', 'Count'])
freq_dist.to_csv(path + '/Support Files/Freq_Dist_new_comments.csv', index=False)
freq_dist

100%|██████████| 3490727/3490727 [00:01<00:00, 2749718.99it/s]

        Rank       Word  Count
0          1       beer  61758
1          2          s  43154
2          3       head  36440
3          4      taste  31825
4          5          t  30852
...      ...        ...    ...
51947  51948      14364      1
51948  51949  sherryish      1
51949  51950  veritably      1
51950  51951       1190      1
51951  51952        sek      1

[51952 rows x 3 columns]

In [51]:
def process_column(column):
    data = list(column)
    for i in range(len(data)):
        text = str(data[i])
        for punct in list(string.punctuation):
             text = text.replace(punct, ' ')
        text = text.lower()
        data[i] = text
    return data

def replace_car_brands(data, map):
    for i in range(len(data)):
        text = data[i]
        l_text = text.split()
        for word in l_text:
            if word in map.keys():
                text = text.replace(word, map[word])
        data[i] = text.split()
    return data

In [52]:
comments = process_column(beer_reviews['comment'])

beer_attribute_map = pd.read_csv(path + '/Support FIles/Beeer_attributes.csv')

beer_attribute_dict = {}
for brand, model in zip(beer_attribute_map['Attribute'], beer_attribute_map['Variance']):
    beer_attribute_dict[model] = brand

comments = replace_car_brands(comments, beer_attribute_dict)
print(set(beer_attribute_dict.values()))

{'roast/toast', 'apricot', 'cocoa', 'silky', 'tangerine', 'sweet', 'coffee', 'diacetyl', 'malty', 'vanilla', 'crisp', 'robust', 'vintage', 'estery', 'complex', 'cherry', 'fruity', 'tart', 'citrus', 'melon', 'herbal', 'balanced', 'spicy', 'honey', 'chocolaty', 'hoppy', 'cinnamon', 'aggressive', 'dark', 'papaya'}

In [53]:
attributes = list(set(beer_attribute_dict.values()))

def tf(text, attribute, map):
    text = str(text)
    text = text.strip()
    
    for punct in list(string.punctuation):
        text = text.replace(punct, ' ')
    text = text.lower()
    
    l_text = text.split()
    for word in l_text:
        if word in map.keys():
            text = text.replace(word, map[word])
    
    text = text.split()
    
    count = 0
    for t_word in text:
        if t_word==attribute:
            count += 1
    
    return count

for attribute in (pbar := tqdm(attributes)):
    pbar.set_description(f"Calculating TFs for {attribute}")
    beer_reviews[attribute] = beer_reviews['comment'].apply(lambda row: tf(row, attribute, beer_attribute_dict))
beer_reviews

Calculating TFs for papaya: 100%|██████████| 30/30 [00:39<00:00,  1.33s/it]

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,herbal,balanced,spicy,honey,chocolaty,hoppy,cinnamon,aggressive,dark,papaya
0,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,poidog,Hawaii,...,0,0,0,0,0,0,0,0,0,0
1,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,Filabee,Michigan,...,0,0,0,0,0,0,0,0,0,0
2,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,alexnblanton,Arkansas,...,0,0,0,0,0,0,0,0,0,0
3,1,Kentucky Brunch Brand Stout,4.67,4.0,4.5,5.0,4.5,4.5,beergoot,Colorado,...,0,0,0,0,1,0,0,0,3,0
4,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,dcotom,Iowa,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63465,250,Samuel Adams Utopias,4.73,5.0,4.5,5.0,4.5,4.5,billab914,Virginia,...,0,0,0,0,1,0,0,0,1,0
63466,250,Samuel Adams Utopias,4.42,4.0,4.5,4.5,5.0,4.0,ShanePB,Pennsylvania,...,0,0,0,0,0,0,0,0,1,0
63467,250,Samuel Adams Utopias,4.85,4.5,4.5,5.0,5.0,5.0,siege06nd,Virginia,...,0,0,0,0,0,0,0,0,2,0
63468,250,Samuel Adams Utopias,4.19,3.5,4.5,4.0,4.0,4.5,Stinkypuss,Pennsylvania,...,0,0,0,0,1,0,0,0,0,0
63469,250,Samuel Adams Utopias,4.92,4.5,5.0,5.0,4.5,5.0,Cord018,Massachusetts,...,0,0,0,0,0,0,0,0,0,0

In [54]:
def idf(column, attribute, map):
    texts = list(column)
    n = len(texts)
    count = 0
    for i in range(n):
        text = texts[i]
        text = str(text)
        text = text.strip()
        
        for punct in list(string.punctuation):
            text = text.replace(punct, ' ')
        text = text.lower()
        
        l_text = text.split()
        for word in l_text:
            if word in map.keys():
                text = text.replace(word, map[word])
        
        text = text.split()

        if attribute in text:
            count += 1
        
    idf = np.log10(n / count)
    return idf

dict_idf = {}
for attribute in (pbar := tqdm(attributes)):
    dict_idf[attribute] = idf(beer_reviews['comment'], attribute, beer_attribute_dict)

dict_idf

100%|██████████| 30/30 [00:38<00:00,  1.29s/it]

{'roast/toast': 1.2169949796912254,
 'apricot': 1.6055637702909107,
 'cocoa': 1.389772069597413,
 'silky': 1.5344587685054782,
 'tangerine': 1.4842964181023295,
 'sweet': 0.6165450051965102,
 'coffee': 0.7099180199571613,
 'diacetyl': 2.9333367785829805,
 'malty': 0.8669604797960871,
 'vanilla': 0.752420840293653,
 'crisp': 1.3532444052152297,
 'robust': 1.8721289035472564,
 'vintage': 1.2814304146099202,
 'estery': 2.1455126454568525,
 'complex': 0.9514936930850696,
 'cherry': 1.4488445607250073,
 'fruity': 0.9526579400124604,
 'tart': 1.3364426278957573,
 'citrus': 0.7380356371823783,
 'melon': 1.689293805849606,
 'herbal': 1.6614324081932175,
 'balanced': 0.7365409033650947,
 'spicy': 1.5410677251156764,
 'honey': 1.5575496275762033,
 'chocolaty': 0.6036915710704036,
 'hoppy': 1.2597430713547766,
 'cinnamon': 1.3992763531557022,
 'aggressive': 1.8819234969071688,
 'dark': 0.5947187871834299,
 'papaya': 1.6933275297257533}

In [55]:
for attribute in attributes:
    beer_reviews[attribute + '_tf-idf'] = (beer_reviews[attribute] * dict_idf[attribute])
beer_reviews

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,herbal_tf-idf,balanced_tf-idf,spicy_tf-idf,honey_tf-idf,chocolaty_tf-idf,hoppy_tf-idf,cinnamon_tf-idf,aggressive_tf-idf,dark_tf-idf,papaya_tf-idf
0,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,poidog,Hawaii,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
1,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,Filabee,Michigan,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
2,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,alexnblanton,Arkansas,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
3,1,Kentucky Brunch Brand Stout,4.67,4.0,4.5,5.0,4.5,4.5,beergoot,Colorado,...,0.0,0.0,0.0,0.0,0.603692,0.0,0.0,0.0,1.784156,0.0
4,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,dcotom,Iowa,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63465,250,Samuel Adams Utopias,4.73,5.0,4.5,5.0,4.5,4.5,billab914,Virginia,...,0.0,0.0,0.0,0.0,0.603692,0.0,0.0,0.0,0.594719,0.0
63466,250,Samuel Adams Utopias,4.42,4.0,4.5,4.5,5.0,4.0,ShanePB,Pennsylvania,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.594719,0.0
63467,250,Samuel Adams Utopias,4.85,4.5,4.5,5.0,5.0,5.0,siege06nd,Virginia,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.189438,0.0
63468,250,Samuel Adams Utopias,4.19,3.5,4.5,4.0,4.0,4.5,Stinkypuss,Pennsylvania,...,0.0,0.0,0.0,0.0,0.603692,0.0,0.0,0.0,0.000000,0.0
63469,250,Samuel Adams Utopias,4.92,4.5,5.0,5.0,4.5,5.0,Cord018,Massachusetts,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0

In [56]:
attributes = ['malty', 'silky', 'balanced']

def similarity(data, vect_2):
    vect_1 = []
    for value in data:
        vect_1.append(value)
    
    sum1 = 0
    sum2 = 0
    sum3 = 0
    for i, j in zip(vect_1, vect_2):
        sum1 = sum1 + (i * j)
        sum2 = sum2 + (i * i)
        sum3 = sum3 + (j * j)
    
    if sum1==0 or sum2==0 or sum==0:
        similarity_score = 0
    else:
        similarity_score = sum1 / (np.sqrt(sum2) * np.sqrt(sum3))
    # print(vect_1, vect_2, similarity_score)
    return similarity_score
    
vect = []
for i, attribute in enumerate(attributes):
    vect.append(dict_idf[attribute])
    attributes[i] = attribute + '_tf-idf'

beer_reviews['similarity'] = beer_reviews[attributes].apply(tuple, axis=1)
beer_reviews['similarity'] = beer_reviews['similarity'].apply(lambda row: similarity(row, vect))
beer_reviews[['beer_name', 'comment', 'similarity']]

,beer_name,comment,similarity
0,Kentucky Brunch Brand Stout,"Amazing stout, expensive but worth the price!",0.00000
1,Kentucky Brunch Brand Stout,This beer meet and exceeded all the unreal hyp...,0.00000
2,Kentucky Brunch Brand Stout,Let it sit and warm to the room a little ... u...,0.00000
3,Kentucky Brunch Brand Stout,"A small pour, ebony dark, no real head. Intens...",0.00000
4,Kentucky Brunch Brand Stout,"Vintage 2022, served on tap at Toppling Goliat...",0.45387
...,...,...,...
63465,Samuel Adams Utopias,Huge thanks to siege06nd for giving me a pour ...,0.00000
63466,Samuel Adams Utopias,"Vintage 2011, served to some good friends on N...",0.00000
63467,Samuel Adams Utopias,Served in a snifter and shared with two dear f...,0.00000
63468,Samuel Adams Utopias,Samuel Adams Utopias 2011 vintage A generous ...,0.00000
63469,Samuel Adams Utopias,A- pours a deep amber/caramel color. Looks lik...,0.00000

In [57]:
try:
    sentiment = pd.read_csv(path + '/Support Files/sentiments.csv')
    beer_reviews = beer_reviews.merge(sentiment, left_on='comment', right_on='comment', how='left')
    display(beer_reviews)
except FileNotFoundError:
    def sentiment_openai(data):
        final_rating, text = data
        openai.api_key = openai_key
        openai.Model.list()

        response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
                {"role": "system", "content": f'''Provide a sentiment score for "{text}" in a range of +5 to -5. This comment was overall rated as {final_rating} by the user on a scale of 0-5. Watchout out for the light human sarcasm in the quoted text. Only provide the number.'''},
            ]
        )

        print(final_rating, text, response['choices'][0]['message']['content'])
        return response['choices'][0]['message']['content']
    
    beer_reviews['sentiment'] = beer_reviews[['final_rating', 'comment']].apply(tuple, axis=1)
    beer_reviews['sentiment'] = beer_reviews['sentiment'].apply(lambda row: sentiment_openai(row))
    beer_reviews[['comment', 'sentiment']].to_csv(path + '/Support Files/sentiments.csv', index=False)

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,honey_tf-idf,chocolaty_tf-idf,hoppy_tf-idf,cinnamon_tf-idf,aggressive_tf-idf,dark_tf-idf,papaya_tf-idf,similarity,Unnamed: 0,sentiment
0,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,poidog,Hawaii,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0,3.0
1,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,Filabee,Michigan,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,1,0.0
2,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,alexnblanton,Arkansas,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,2,-1.0
3,1,Kentucky Brunch Brand Stout,4.67,4.0,4.5,5.0,4.5,4.5,beergoot,Colorado,...,0.0,0.603692,0.0,0.0,0.0,1.784156,0.0,0.00000,3,4.0
4,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,dcotom,Iowa,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.45387,4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77529,250,Samuel Adams Utopias,4.73,5.0,4.5,5.0,4.5,4.5,billab914,Virginia,...,0.0,0.603692,0.0,0.0,0.0,0.594719,0.0,0.00000,65137,-3.0
77530,250,Samuel Adams Utopias,4.42,4.0,4.5,4.5,5.0,4.0,ShanePB,Pennsylvania,...,0.0,0.000000,0.0,0.0,0.0,0.594719,0.0,0.00000,65138,5.0
77531,250,Samuel Adams Utopias,4.85,4.5,4.5,5.0,5.0,5.0,siege06nd,Virginia,...,0.0,0.000000,0.0,0.0,0.0,1.189438,0.0,0.00000,65139,-1.0
77532,250,Samuel Adams Utopias,4.19,3.5,4.5,4.0,4.0,4.5,Stinkypuss,Pennsylvania,...,0.0,0.603692,0.0,0.0,0.0,0.000000,0.0,0.00000,65140,5.0
77533,250,Samuel Adams Utopias,4.92,4.5,5.0,5.0,4.5,5.0,Cord018,Massachusetts,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,65141,-2.0

In [58]:
beer_reviews['final_score'] = beer_reviews['similarity'] * beer_reviews['sentiment']
beer_reviews

,pos,beer_name,final_rating,looks,smell,taste,feel,overall,user,place,...,chocolaty_tf-idf,hoppy_tf-idf,cinnamon_tf-idf,aggressive_tf-idf,dark_tf-idf,papaya_tf-idf,similarity,Unnamed: 0,sentiment,final_score
0,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,poidog,Hawaii,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,0,3.0,0.000000
1,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,Filabee,Michigan,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,1,0.0,0.000000
2,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,alexnblanton,Arkansas,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,2,-1.0,-0.000000
3,1,Kentucky Brunch Brand Stout,4.67,4.0,4.5,5.0,4.5,4.5,beergoot,Colorado,...,0.603692,0.0,0.0,0.0,1.784156,0.0,0.00000,3,4.0,0.000000
4,1,Kentucky Brunch Brand Stout,5.00,5.0,5.0,5.0,5.0,5.0,dcotom,Iowa,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.45387,4,4.0,1.815481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77529,250,Samuel Adams Utopias,4.73,5.0,4.5,5.0,4.5,4.5,billab914,Virginia,...,0.603692,0.0,0.0,0.0,0.594719,0.0,0.00000,65137,-3.0,-0.000000
77530,250,Samuel Adams Utopias,4.42,4.0,4.5,4.5,5.0,4.0,ShanePB,Pennsylvania,...,0.000000,0.0,0.0,0.0,0.594719,0.0,0.00000,65138,5.0,0.000000
77531,250,Samuel Adams Utopias,4.85,4.5,4.5,5.0,5.0,5.0,siege06nd,Virginia,...,0.000000,0.0,0.0,0.0,1.189438,0.0,0.00000,65139,-1.0,-0.000000
77532,250,Samuel Adams Utopias,4.19,3.5,4.5,4.0,4.0,4.5,Stinkypuss,Pennsylvania,...,0.603692,0.0,0.0,0.0,0.000000,0.0,0.00000,65140,5.0,0.000000
77533,250,Samuel Adams Utopias,4.92,4.5,5.0,5.0,4.5,5.0,Cord018,Massachusetts,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.00000,65141,-2.0,-0.000000

In [59]:
recommendations = list(beer_reviews.loc[beer_reviews['final_score'] > 0]['beer_name'].value_counts()[:3].index)
print('Three recommended beers:')
print(recommendations)

Three recommended beers:
['Heady Topper', 'Pliny The Elder', 'Zombie Dust']

In [60]:
attributes = ['malty', 'silky', 'balanced']

def spacySimilarity(data, attribute, map):
    nlp = spacy.load("en_core_web_md")

    beer_name, user, text = data
    sys.stdout.write("\rEvaluating similarity betwwen review of {0} by {1} for {2}".format(beer_name, user, attribute))
    sys.stdout.flush()

    text1 = attribute
    text2 = text

    text2 = text2.strip()

    for punct in list(string.punctuation):
        text2 = text2.replace(punct, ' ')
    text2 = text2.lower()

    l_text = text2.split()
    for word in l_text:
        if word in map.keys():
            text2 = text2.replace(word, map[word])

    text2 = ''.join(text2)

    doc1 = nlp(text1)
    doc2 = nlp(text2)
    similarity = doc1.similarity(doc2)
    return similarity

for attribute in tqdm(attributes):
    beer_reviews[attribute + '_SSimilarity'] = beer_reviews[['beer_name', 'user', 'comment']].apply(tuple, axis=1)
    beer_reviews[attribute + '_SSimilarity'] = beer_reviews[attribute + '_SSimilarity'].apply(lambda row: spacySimilarity(row, attribute, beer_attribute_dict))

beer_reviews

  0%|          | 0/3 [00:00<?, ?it/s]

Evaluating similarity betwwen review of Abraxas - Barrel-Aged by Shogun250 for maltyaltytymaltytyty